{% extends 'accounts/base.html' %}
{% load static %}




{% block content %}
<div class="d-flex align-items-center justify-content-center ">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid"
                    src="https://images.pexels.com/photos/3771842/pexels-photo-3771842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Text Steganography" srcset="">
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <h1 class="title">Encoded Successfully</h1>
                <p class="lead mt-4">Encoded Image</p>
                <img class="img-fluid"
                    src="{{image.image_file.url}}"
                    alt="Text Steganography" srcset="">
                <a href="{{ image.image_file.url }}" class="btn btn-primary" download>Download Image</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}