{% extends 'accounts/base.html' %}
{% load static %}




{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid"
                    src="https://images.pexels.com/photos/3771842/pexels-photo-3771842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Text Steganogrssaphy" srcset="">
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="title">Text Steganography</p>
                <p class="tagline">Hear the message, not the noise.</p>
                <p class="desc">"Listen up! With Text steganography, you can communicate confidential messages without
                    anyone else even knowing it! By embedding your secret information into regular Text files, you can
                    hide
                    your message in plain sound. And the best part? No one will even notice it's there!"</p>


                    <form action="{% url 'textsteganography:encode' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label class="form-label" for="message">Write the message to encrypt:</label>
                            <textarea class="form-control" name ="message" id="message" rows="4" required></textarea>
                        </div>
                    
                        <div class="row">
                            <div class="col-md mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" />
                            </div>
                            <div class="col-md mb-4">
                                <label class="form-label" for="Cpassword">Confirm Password</label>
                                <input type="password" name="cpassword" id="Cpassword" class="form-control" />
                            </div>
                        </div>
                    
                        <button type="submit" class="text-reset me-3 btn btn-success">
                            <i class="fas fa-lock"></i> Encode
                        </button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}