{% extends 'accounts/base.html' %}
{% load static %}




{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid"
                    src="https://images.pexels.com/photos/3771842/pexels-photo-3771842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Audio Steganography" srcset="">
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="title">Audio Steganography</p>
                <p class="tagline">Hear the message, not the noise.</p>
                <p class="desc">"Listen up! With audio steganography, you can communicate confidential messages without
                    anyone else even knowing it! By embedding your secret information into regular audio files, you can
                    hide
                    your message in plain sound. And the best part? No one will even notice it's there!"</p>


                <form action="{% url 'audiosteganography:encode' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label" for="message">Write the message to encrypt:</label>
                        <textarea class="form-control" id="message" rows="4" required></textarea>
                    </div>

                    <div class="row mb-4">
                        <label class="form-label" for="audio">Upload your audio:</label>
                        <input type="file" class="form-control" name="audio_file" id="audio" accept="audio/mp3,audio/*" required/>
                    </div>
                    <div class="row">
                        <div class="col-md mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" class="form-control" />
                        </div>
                        <div class="col-md mb-4">
                            <label class="form-label" for="Cpassword">Confirm Password</label>
                            <input type="password" id="Cpassword" class="form-control" />
                        </div>
                    </div>

                    <a class="text-reset me-3 btn btn-success" href="{% url 'audiosteganography:encode' %}">
                        <i class="fas fa-lock"></i> Encode
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}